.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f4f6;
}

.form-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 24px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 1rem;
    font-weight: 500;
}

.input-field {
    height: 44px;
    padding: 0 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.submit-btn {
    height: 30px;
    background-color: rgba(10, 11, 22, 1);
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn:hover {
    background-color: rgba(10, 11, 22, 0.8);
}

.link {
    color: rgba(0, 38, 223, 1);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
    font-size: 1rem;
}

.error-message {
    color: red;
}